.demo {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
}

/*Sử dụng class để thay đổi màu*/
/* .red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
} */

